{% load static %}
{% load has_profile %}
{% has_profile as hp %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <title>Expenses Tracker</title>
</head>

<body>

<!-- Navigation Bar -->
<nav>
    <ul>
        <li class="img"><img src="{% static '/images/dollar.png' %}" alt="dollar"></li>
        <li><a href="{% url 'homepage' %}">Expenses Tracker</a></li>
        {% if hp %}
            <li class="right"><a href="{% url 'profile' %}">Profile</a></li>
        {% endif %}
    </ul>
</nav>
<!-- End Navigation Bar -->
<div class="body">
    {% block page_content %}c
    {% endblock %}
</div>

<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>

</body>
</html>